body {
    background-image: url("./images/background.png");
    /*background-color: #F0EDE4 ;
    background-repeat: fill;*/
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 6fr 2fr;
}

.cards { 
    width: 100%;
}

.template-hook{
    grid-column: 1 / span 1;
    grid-row: 1;
}
.navig{
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 15rem;
}
.card {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 15rem;
    margin: 2rem;
    background-color: #4b2e83;
    font-family: 'Open Sans', sans-serif;
}

.eventimg{
   grid-column: 1 / span 1;
   grid-row: auto;
   place-self: end;
   align-self: end;
}
.eventimg img {
    object-fit:contain;
    max-width: 100%;
    height: 200px;
}

.eventdetails {
    grid-column: 2 / span 2;
    grid-row: 1;
    background-color: #4b2e83;
    padding-left: 2rem;
    font-family: 'Open Sans', sans-serif;
}

.eventdetails img{
    height: 25px;
}

.eventdetails p{
    font-size: 16px;
    height: 75px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    margin-right: 20px;
}

.container {
    overflow: hidden;
  }
  
  .filterDiv {
    margin: 2rem;
    background-color: #4b2e83;
    font-family: 'Open Sans', sans-serif;
    float: left;
    /*color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;*/
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 15rem;
    margin: 2rem;
    background-color: #4b2e83;
    font-family: 'Open Sans', sans-serif;
    float: left;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: #666;
    color: white;
  }